# AI/Machine Learning Intern Challenge: Simple Content-Based Recommendation

### TODO: DEMO.MD, SALARY EXPECTATION, README.MD(dataset, setup, running, results)

In [6]:
#imports
import pandas as pd
!pip install scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Requirement already satisfied: scikit-learn in /Users/mythrikishore/miniforge3/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /Users/mythrikishore/miniforge3/lib/python3.12/site-packages (from scikit-learn) (2.2.1)
Requirement already satisfied: scipy>=1.6.0 in /Users/mythrikishore/miniforge3/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /Users/mythrikishore/miniforge3/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/mythrikishore/miniforge3/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

## Load the Dataset
Download the data(csv) from Kaggle from the link below:
https://www.kaggle.com/datasets/rajugc/imdb-top-250-movies-dataset

Store the pathname of the csv file in the variable `pathname`

In [2]:
pathname = "/Users/mythrikishore/lumaa-spring-2025-ai-ml/IMDB_Top_250_Movies.csv"

In [3]:
df = pd.read_csv(pathname)
# Keep only 'name' and 'tagline' columns
df = df[['name', 'tagline']].dropna()
df.head()

                       name                                            tagline
0  The Shawshank Redemption  Fear can hold you prisoner. Hope can set you f...
1             The Godfather                         An offer you can't refuse.
2           The Dark Knight                                    Why So Serious?
3     The Godfather Part II       All the power on earth can't change destiny.
4              12 Angry Men  Life Is In Their Hands -- Death Is On Their Mi...

## Preprocess the text
Combine the movie name and the tagline to calculate the similarity.

In [4]:
df['text'] = df['name'] + " " + df['tagline']
#ignore "unexpected error"

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,name,tagline,text
0,The Shawshank Redemption,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption Fear can hold you pri...
1,The Godfather,An offer you can't refuse.,The Godfather An offer you can't refuse.
2,The Dark Knight,Why So Serious?,The Dark Knight Why So Serious?
3,The Godfather Part II,All the power on earth can't change destiny.,The Godfather Part II All the power on earth c...
4,12 Angry Men,Life Is In Their Hands -- Death Is On Their Mi...,12 Angry Men Life Is In Their Hands -- Death I...
...,...,...,...
245,The Help,Change begins with a whisper.,The Help Change begins with a whisper.
246,Dersu Uzala,There is man and beast at nature's mercy. Ther...,Dersu Uzala There is man and beast at nature's...
247,Aladdin,Wish granted! (DVD re-release),Aladdin Wish granted! (DVD re-release)
248,Gandhi,His Triumph Changed The World Forever.,Gandhi His Triumph Changed The World Forever.
249,Dances with Wolves,Inside everyone is a frontier waiting to be di...,Dances with Wolves Inside everyone is a fronti...

## Convert text to TF-IDF vectors

In [7]:
vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(df['text'])

## Calculate Similarity & Provide Recommendations

In [12]:
def recommend_movies(user_input, top_n=5):
    # Transform the input using the vectorizer from the previous cell
    input_vec = vectorizer.transform([user_input])
    
    # Compute cosine similarity
    similarity_scores = cosine_similarity(input_vec, tfidf_matrix).flatten()
    
    # Get top N (default=5) indices
    top_indices = similarity_scores.argsort()[-top_n:][::-1]
    
    # Return the top N movie names with similarity scores as a list
    recommendations =  [(df.iloc[i]['name'], float(round(similarity_scores[i], 3))) for i in top_indices]
    return recommendations

In [18]:
#Example usage
#`user_text` represents the input description - change according to recommendation preferences
user_text = "A thrilling space adventure with humor"
recommend_movies(user_text)

[('Alien', 0.343),
 ('How to Train Your Dragon', 0.245),
 ('2001: A Space Odyssey', 0.23),
 ('Children of Heaven', 0.225),
 ('Lawrence of Arabia', 0.224)]

### Interpretation of Similarity Scores

The similarity score is calculated based on TF-IDF cosine similarity. It ranges from 0 to 1.

A similarity score close to 1 signifies that the two text inputs (user's and movie tagline) are very **similar**. On the other hand, a score close to 0 signifies that the two text inputs are very **dissimilar**.